.chat-panel-container {
  flex: 1;
  background-color: #f8fafc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-messages-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-welcome-message {
  font-size: 22px;
  font-weight: 600;
  color: #334155;
}

.chat-input-section {
  height: 80px;
  /* border-top: 2px solid #cbd5e1; */

  display: flex;
  align-items: flex-end;

  padding: 10 20px;
  gap: 20px;
  background-color: white;
}

.upload-button,
.send-button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1e293b;
  color: white;
  font-size: 16px;
}

.chat-input {
  flex: 1;
  min-height: 45px;
  max-height: 80px;
  resize: none;
  overflow-y: auto;
  border: 2px solid #cbd5e1;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;

  line-height: 1.5;
  outline: none;

  font-family: inherit;
}

.chat-input:focus {
  border-color: #2563eb;
}

.user-message,
.assistant-message {
  padding: 6px 10px;
  border-radius: 14px;
  max-width: 70%;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.user-message {
  background-color: #cccfd5;
  color: black;
}

.assistant-message {
  background-color: white;
  border: 1px solid #cbd5e1;
  color: #0f172a;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  padding: 0 80px;
}

.user-row {
  justify-content: flex-end;
}

.assistant-row {
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .chat-input-section {
    height: 60px;
    gap: 10px;
  }

  .upload-button,
  .send-button {
    height: 30px;
    width: 30px;
  }

  .message-row {
    padding: 0 0;
  }

  .chat-input-section {
    padding: 20px 10px;
  }
}
